[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "*"
xgboost = "*"
tensorflow = "*"
pandas = "*"
scikit-learn = "*"
pdbpp = "*"
nhl-api-py = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
